---
layout: default
---

{% include header.html %}

<article class="post">
  <h1 class="title">{{ page.title }}</h1>

  <p>{{ page.permalink }}</p>

  {{ content }}

  <p class=footer>
    <span>{{ page.date | date: "%B %-d, %Y" }}</span>
    {% if page.related_url and page.related_title %}
      <span class="separator">·</span>
      <span>Related</span>
      <a href="{{ page.related_url }}">{{ page.related_title }}</a>
    {% endif %}
  </p>


  {% if page.hide_about %}
  {% else %}
  {% include about.html %}
  {% endif %}

</article>
